<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
      integrity="sha384-i090POAzfiGzqb4z2cbVa+SZ/ye0lP0mNl1rCZBTGVVPFpU8a4Ky5aBxJ0Ol5W6s"
      crossorigin="anonymous">

<!-- For an explanation of the following, see https://developer.twitter.com/en/docs/twitter-for-websites/webpage-properties/overview -->
<link rel="me" href="https://twitter.com/sbmlnews">
<meta name="twitter:dnt" content="on">
<meta name="twitter:widgets:csp" content="on">
