{{ $ := .root }}
{{ $page := .page }}

<h3 style="margin-top: 0">News<span style="float: right; font-size: smaller; font-style: oblique; color: #aaa"><a href="/news">➜ More news</a></span></h3>
<div class="row pack">

  {{ range where $.Site.RegularPages "Section" "news" }}
  <div class="col-md-4 card">
    <a href="{{ .Permalink }}" class="index-anchor">    
      <div class="panel panel-default">
        
        {{ if .Params.img }}
        <img width="100%" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
        {{ end }}
        
        <div class="panel-body">
          <h4 class="panel-title pull-left">{{ .Title | truncate 25 }}</h4>
          <span class="post-meta pull-right"><small>{{ .Date.Format "January 2, 2006" }}</small></span>
        </div>
        <div class="panel-body">
          {{ .Summary | truncate 120 }}
        </div>
      </div>
    </a>
  </div>
  {{ end }}

</div> 
