## -*- mode: conf -*-
## ============================================================================
## File name   : hugo-sbml.service
## Description : systemd configuration file for SBML hugo server
## Author(s)   : Michael Hucka <mhucka@caltech.edu>
## Organization: California Institute of Technology
## Date created: 2020-04-23
## ============================================================================

[Unit]
Description=Hugo server for SBML website
After=network-online.target

[Service]
Type=forking
User=hugo
PIDFile=/var/run/hugo/hugo.pid
PrivateTmp=yes
ExecStart=/home/hugo/sbml/admin/server-control start
Restart=on-failure
RestartSec=10
StartLimitBurst=5
StartLimitInterval=30

[Install]
WantedBy=multi-user.target
