.sbml-blue {
  color: #84c5e2;
}

a:visited {
  color: #83c4e6;
}

/* The next definition is for fontawesome icons. */

i[class ^= "fa-"],
a i[class ^= "fa-"],
a:visited i[class ^= "fa-"] {
  color: #84c5e2;
  text-shadow: 1px 2px 2px #cfcfcf;
}

code, pre, .hljs {
  color: #000000;
  background-color: #eeeeee;
}
