<!-- ==========================================================================
File name   : /layouts/shortcodes/blurb.html
Description : Shortcode template for a row of text with an icon next to it
Author(s)   : Michael Hucka <mhucka@caltech.edu>
Organization: California Institute of Technology
Date created: 2019-11-06

This is used to create rows of text with icons on pages such as the front page
and the documents page.  By default, it has a structure like this:

             The title
   [ icon ]  The body text. This text should be a paragraph that's only a 
             few lines long.  It can be written using Markdown syntax.

The icon can be placed on the right using the parameter side="right", to
produce this layout:

     The title
     The body text. This text should be a paragraph that's only   [ icon ]
     a few lines long.  It can be written using Markdown syntax.

This shortcode takes the following arguments:

  title: (required) Text put in bold face above the paragraph
  icon:  (required) The name of a Font Awesome icon, minus the leading "fa-"
  side:  (optional) Side to put the icon, "left" or "right". Default: left.
  link:  (optional) URL that will be used to make the Title a link

Note that the icon name must be a Font Awesome icon name without the
leading "fa-" part of the name.  We add the "fa-" automatically.  In other
words, instead of (e.g.) "fa-book", use just "book" as the value.
=========================================================================== -->

{{ $title := .Get "title" }}
{{ $icon  := .Get "icon" }}
{{ $icon  := ( print "fa-" $icon ) }}
{{ $side  := .Get "side" | default "left" }}
{{ $link  := .Get "link" | default "" }}
<div class="row row-big-gutter align-items-center decorated-text">
{{ if eq $side "left" }}
  <div class="col-2 text-center">
    <i class="{{ $icon }} fas fa-4x"></i>
  </div>
  <div class="col">
    {{ if ne $link "" }}<a href="{{ $link }}">{{ end }}<strong>{{ $title | markdownify }}</strong><br>{{ if ne $link "" }}</a>{{ end }}
    {{ .Inner | markdownify }}
  </div>
{{ else }}
  <div class="col">
    {{ if ne $link "" }}<a href="{{ $link }}">{{ end }}<strong>{{ $title | markdownify }}</strong><br>{{ if ne $link "" }}</a>{{ end }}
    {{ .Inner | markdownify }}
  </div>
  <div class="col-2 text-center">
    <i class="{{ $icon }} fas fa-4x"></i>
  </div>
{{ end }}
</div>
