<!-- ==========================================================================
File name   : /layouts/shortcodes/cite.html
Description : Shortcode for citing papers or software
Author(s)   : Michael Hucka <mhucka@caltech.edu>
Organization: California Institute of Technology
Date created: 2020-04-05

This is used in places like /software/converters and /documents/publications/.
The optional argument "type" is used to change the icon when the citation is
not to a paper.
=========================================================================== -->

{{ $title   := .Get "title" }}
{{ $authors := .Get "authors" }}
{{ $source  := .Get "source" }}
{{ $type    := .Get "type" | default "paper" }}
{{ $link    := .Get "link" }}
{{ $summary := .Get "summary" | default "" }}

{{ $icon    := "fa-file-pdf fas" }}
{{ if eq $type "software" }}
  {{ $icon = "fa-file-code fas" }}
{{ end }}

<div class="citation">
  <span class="citation-icon"><a href="{{ $link }}"><i class="{{ $icon }} fa-2x"></i></a></span><span class="citation-title"><a href="{{ $link }}">{{ $title | markdownify }}</a></span>
  <span class="citation-authors">{{ $authors | markdownify }}</span>
  <span class="citation-source">{{ $source | markdownify }}</span>
  <span class="citation-summary">{{ $summary | markdownify }}</span>    
</div>