<!-- ==========================================================================
File name   : /layouts/shortcodes/insert-chunk.html
Description : Shortcode for inserting a named chunk of text on a page
Author(s)   : Michael Hucka <mhucka@caltech.edu>
Organization: California Institute of Technology
Date created: 2020-04-05

This is one of a paper of shortcodes. The shortcode "store-chunk" is used to
define a named chunk of text (which can contain Markdown syntax), and the
other shortcode, "insert-chunk", is used to insert the named chunk a given 
location on the page. The primary use-case for this is to avoid copy-pasting
content on a page in situations where the same text needs to be repeated in
multiple places.
=========================================================================== -->
{{ $name := .Get "name" }}
{{ $definitions := .Page.Scratch.Get "definitions" }}
{{- index $definitions $name -}}
