<!-- ==========================================================================
File name   : /layouts/shortcodes/sbml-spec-box.html
Description : Shortcode for creating a box describing a given spec in detail
Author(s)   : Michael Hucka <mhucka@caltech.edu>
Organization: California Institute of Technology
Date created: 2020-03-09

This shortcode expects to be called with arguments like in this example:

  sbml-spec-box  package="core"  level="3"  version="2"  release="2"

The code below is tightly coupled to the structure of the contents in the file
/data/SBML.toml.  The lookup into the hierarchical array of data in that file
is determined using the parameters passed to this shortcode.
=========================================================================== -->

<!-- Assign arguments to internal variables. -->
{{ $package  := ( .Get "package" ) }}
{{ $level    := ( .Get "level" ) }}
{{ $version  := ( .Get "version" ) }}
{{ $revision := ( .Get "revision" ) | default "none" }}
{{ $release  := ( .Get "release" )  | default "highest" }}
                                                    
<!-- Get array of all level/version/release data for this package. -->
{{ $package_data := index .Site.Data.SBML.specs $package }}

<!-- Initialize some variables. (I'm not actually sure why I get runtime errors
     about undefined variables unless these are set to something.  The if-then 
     conditional right below this has no exit: one of the cases must be true 
     and the values of the variables must be set.  Yet without setting $spec 
     to something here, accessing it in the HTML code below produces errors.  
     I'm stumped but I don't have more time to figure out what's really going
     on.  Let's just set them to something and more along.) -->
{{ $spec         := "" }}
{{ $rel_text     := "" }}
{{ $level_key    := print "sbml-level-" $level }} 
{{ $version_key  := print "version-"    $version }}    
{{ $release_key  := print "release-"    $release }}    
{{ $revision_key := print "revision-"   $revision }}

<!-- Drill down to get the entry for the desired release (or in the case
     of SBML Level 2 Version 1, the revision, as it was known then). -->
{{ $all_versions := ( index $package_data $level_key ) }}
{{ if and $revision (ne $revision "none") }}
  <!--  Special case for L2v2, which used "revision" instead of "release". -->
  {{ $all_revisions := ( index $all_versions $version_key ) }}
  {{ $spec = ( index $all_revisions $revision_key ) }}
  {{ $rel_text = print "Revision " $spec.revision }}
{{ else if eq $release "highest" }}
  {{ $spec = ( index $all_versions $version_key ) }}
  <!--  Prior to L2, there were no "releases" or "revisions". -->
  {{ if or (eq $level "1") (and (eq $level "2") (eq $version "1")) }}
    {{ $rel_text = "" }}
  {{ else }}
    {{ $highest_release := $spec.highest_release }}
    {{ $release_key = print "release-" $highest_release }}
    {{ $spec = ( index $spec $release_key ) }}
    {{ $rel_text = print "Release " $highest_release }}
  {{ end }}
{{ else }}
  {{ $all_releases  := ( index $all_versions $version_key ) }}
  {{ $spec = ( index $all_releases $release_key ) }}
  {{ $rel_text = print "Release " $spec.release }}
{{ end }}

<!-- Finally, generate the output that is put on the page. -->
<div class="sbml-spec-box">
  <div class="sbml-spec-tag">Specification</div>
  <div class="sbml-spec-title">{{ $spec.title }}</div>
  <div class="sbml-spec-authors">
    <span class="sbml-spec-authors-label">Authors: </span>
    {{ $spec.authors }}.
  </div>
  <div class="sbml-spec-description">
    This is {{ if $rel_text }}<strong>{{ $rel_text }}</strong> of {{ end }}
    the specification for SBML Level {{ $spec.level }} 
    Version {{ $spec.version }}, made available on {{ $spec.date }}.  
  </div>

  <div class="sbml-spec-link-box">
    <span class="sbml-spec-link">
      <a href="{{ $spec.pdf_main }}"><i class="fa-file-pdf fas fa-2x"></i><br>
        Specification</a>
    </span>
    {{ if and $spec.publication (ne $spec.publication "none") }}
    <span class="sbml-spec-link">
      <a href="{{ $spec.publication }}"><i class="fa-file-pdf fas fa-2x"></i><br>
        Publication</a>
    </span>
    {{ end }}
    {{ if and $spec.issues (ne $spec.issues "none") }}
    <span class="sbml-spec-link">
      <a href="{{ $spec.issues }}"><i class="fa-clipboard-list fas fa-2x"></i><br>
        Known issues</a>
    </span>
    {{ end }}
    {{ if $spec.tracker }}
    <span class="sbml-spec-link">
      <a href="{{ $spec.tracker }}"><i class="fa-bug fas fa-2x"></i><br>
        Report issue</a>
    </span>
    {{ end }}
    <span class="sbml-spec-link">
      <a href="{{ $spec.schema }}"><i class="fa-file-code fas fa-2x"></i><br>
        {{ $spec.schema_type }} schema</a>
    </span>
  </div>

  {{ if $spec.citation }}
  <div class="sbml-spec-citation-box">
    <span class="sbml-spec-citation-label">{{- if and $spec.publication (ne $spec.publication "none") -}}How to cite the publication:{{- else -}}This specification does not have a journal publication associated with it. Suggested citation:{{- end -}}</span>
    <span class="sbml-spec-citation-text">{{- $spec.citation | markdownify -}}</span>
    <span class="sbml-spec-citation-downloads">
      <a href="{{- $spec.cite_bibtex -}}"><span class="reference-bibtex"><i class="fa-file-download fas fa-1x"></i> BibTeX</span></a>
      <a href="{{- $spec.cite_ris -}}"><span class="reference-endnote"><i class="fa-file-download fas fa-1x"></i> RIS</span></a>
    </span>
  </div>
{{ end }}
</div>

