<!-- ==========================================================================
File name   : /layouts/shortcodes/sbml-packages-table.html
Description : Shortcode for creating a table of SBML L3 package statuses
Author(s)   : Michael Hucka <mhucka@caltech.edu>
Organization: California Institute of Technology
Date created: 2020-03-09

This is used to produce an HTML table describing the statuses of all the SBML
Level 3 packages.  It pulls the data from the Google spreadsheet we keep for
this purpose (the "SBML Level 3 Package Status" spreadsheet).  The URL of the
spreadsheet is kept in the data file /data/SBML.toml in our site structure.
=========================================================================== -->

{{ $spreadsheet_url := index .Site.Data.SBML.spec "package_spreadsheet_url" }}
{{ $download_url    := print $spreadsheet_url "/export?format=tsv" }}
{{ $tsv             := getCSV "	" $download_url }}

<table class="sbml-package-table">
  <tr>
    <th>Package</th>
    <th>Nickname</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  {{ range $i, $column := $tsv }}
    <!-- Mapping of columns in this table to columns in the spreadsheet. -->
    {{ $label       := index $column 0 }}
    {{ $name        := index $column 1 }}
    {{ $description := index $column 2 }}
    {{ $status      := index $column 4 }}
    {{ $details_pg  := print "/documents/specifications/level-3/version-1/" $label }}

    <!-- Iterate over rows, skipping empty rows & retired packages. -->
    {{ if and (ne $label "") (ne $label "Label") (not (in $status "Retired")) }}
      <tr>
        <td class="sbml-ptable-col-name">
          <span class="sbml-ptable-page-link">
            <a href="{{ $details_pg }}">{{ $name }}</a>
          </span>
        </td>
        <td class="sbml-ptable-col-label">{{ $label }}</td>
        <td class="sbml-ptable-col-description">{{ $description }}</td>
        {{ if in $status "Draft" }}
        <td class="sbml-ptable-col-status"><span class="sbml-spec-status-draft">Draft available</span></td>
        {{ else if in $status "Final" }}
          <td class="sbml-ptable-col-status"><span class="sbml-spec-status-final">Released</span></td>
        {{ else }}
          <td class="sbml-ptable-col-status"><span class="sbml-spec-status-not-started">Not started</span></td>
        {{ end }}
      </tr>
    {{ end }}
  {{ end }}
</table>

