{{ $sbml_package_table := "https://docs.google.com/spreadsheets/d/1pa01Z72t1UKrjliAXBhxjjN1nnOf00gXcfm4_pWXOxA/export?format=tsv" }}

<table class="sbml-package-table">
  <tr>
    <th>Package</th>
    <th>Nickname</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  {{ range $i, $column := getCSV "	" $sbml_package_table }}
    <!-- Mapping of columns in this table to columns in the spreadsheet. -->
    {{ $name        := index $column 1 }}
    {{ $label       := index $column 0 }}
    {{ $description := index $column 2 }}
    {{ $status      := index $column 4 }}

    <!-- Iterate over rows, skipping header, empty rows & retired packages. -->
    {{ if and (gt $i 0) (ne $label "") (not (in $status "Retired")) }}
      <tr>
        <td class="sbml-ptable-col-name">{{ $name }}</td>
        <td class="sbml-ptable-col-label">{{ $label }}</td>
        <td class="sbml-ptable-col-description">{{ $description }}</td>
        {{ if in $status "Draft" }}
        <td class="sbml-ptable-col-status"><span class="sbml-spec-status-draft">Draft available</span></td>
        {{ else if in $status "Final" }}
          <td class="sbml-ptable-col-status"><span class="sbml-spec-status-final">Released</span></td>
        {{ else }}
          <td class="sbml-ptable-col-status"><span class="sbml-spec-status-not-started">Not started</span></td>
        {{ end }}
      </tr>
    {{ end }}
  {{ end }}
</table>

