<div class="sbml-spec-box">

  <div class="sbml-spec-tag">Specification</div>
  <div class="sbml-spec-title">{{ .Get "spec_title" }}</div>
  <div class="sbml-spec-authors">{{ .Get "spec_authors" }}.</div>
  <div class="sbml-spec-description">
    This is <strong>Release {{ .Get "release" }}</strong> of the specification
    for SBML Level {{ .Get "level" }} Version {{ .Get "version" }}, made
    available on {{ .Get "date" }}.  Note: the schema only captures the
    basic syntax of the format.  Semantics and correct usage are
    <strong>not</strong> captured by the schema and can only be understood 
    by reading the specification.
  </div>

  <div class="sbml-spec-link-box">
    <span class="sbml-spec-link">
      <a target="_blank" href='{{ .Get "pdf_url"}}'><i class="fa-file-pdf fas fa-2x"></i><br>
        Specification</a>
    </span>
    <span class="sbml-spec-link">
      <a target="_blank" href='{{ .Get "errata_url"}}'><i class="fa-file-alt fas fa-2x"></i><br>
        Errata</a>
    </span>
    <span class="sbml-spec-link">
      <a target="_blank" href='{{ .Get "issues_url"}}'><i class="fa-file-invoice fas fa-2x"></i><br>
        Report issue</a>
    </span>
    <span class="sbml-spec-link">
      <a target="_blank" href='{{ .Get "schema_url"}}'><i class="fa-file-code fas fa-2x"></i><br>
        {{ .Get "schema_type" }} schema</a>
    </span>
  </div>
</div>
